:root {
  --background-color-main: #000;
  --foreground-color-main: #fff;
  --border-radius: 2px;
  --spacing-small: 0.313rem;
  --spacing-medium: 0.625rem;
  --spacing-large: 1.25rem;
  --spacing-extra-large: 1.875rem;
}

html,
body {
  background-color: var(--background-color-main);
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  margin: 0;
  min-height: 100%;
  padding: 0;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  color: var(--foreground-color-main);
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.375em;
  min-height: 100vh;
  overflow: hidden;
  padding: 1em;
  position: relative;
}

@media (min-width: 720px) {
  main {
    display: flex;
  }
}

.background-fixed {
  background-attachment: fixed;
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 var(--spacing-large);
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 var(--spacing-small);
}

p {
  margin: 0;
}

i {
  font-style: italic;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.a11y-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.today {
  margin-bottom: var(--spacing-extra-large);
}

@media (min-width: 720px) {
  .today {
    margin-right: var(--spacing-medium);
  }

  .today,
  .tomorrow {
    flex: 1 1 50%;
  }
}

.card {
  background-color: rgb(255 255 255 / 20%);
  border-radius: var(--border-radius);
  display: flex;
  margin-bottom: var(--spacing-medium);
  min-height: 4.438rem;
  padding: var(--spacing-medium);
  position: relative;
  width: 100%;
}

.card.passed .details {
  color: rgb(255 255 255 / 70%);
  transition: color 0.3s ease-in;
}

.card:not(.loading) {
  cursor: pointer;
}

.card.loading {
  overflow: hidden;
}

.card .progress-bar {
  border-bottom: 2px solid rgb(225 75 75 / 30%);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.card .progress-bar > div {
  border-bottom: 2px solid rgb(225 75 75 / 80%);
  border-bottom-left-radius: var(--border-radius);
  bottom: -2px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  transition: width 0.3s ease-out;
  width: 0;
}

.info {
  padding-right: var(--spacing-extra-large);
  position: relative;
  width: 100%;
}

.logo {
  margin-right: var(--spacing-medium);
}

.asset-details {
  height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: height 0.3s ease-out, margin 0.3s ease-out;
}

.asset-details.open {
  height: 100%;
  margin-top: var(--spacing-medium);
  transition: height 0.3s ease-out, margin 0.3s ease-out;
}

@media (min-width: 720px) {
  .asset-details {
    display: flex;
    flex-direction: row-reverse;
  }
}

.synopsis .prefix-description {
  float: left;
  margin-right: var(--spacing-small);
}

.synopsis p {
  margin-bottom: var(--spacing-small);
  min-height: 1.375rem;
  position: relative;
}

.synopsis strong {
  font-weight: bold;
}

@media (min-width: 720px) {
  .synopsis {
    flex: 1 1 66%;
  }
}

.synopsis .meta-info {
  margin-top: var(--spacing-small);
}

.asset-image {
  margin: 0 0 var(--spacing-medium);
}

@media (min-width: 720px) {
  .asset-image {
    flex: 1 1 33%;
    margin: 0 0 0 var(--spacing-large);
    text-align: right;
  }
}

.asset-image span {
  border: 1px solid rgb(255 255 255 / 20%);
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.asset-image span::before {
  animation: 1.5s linear 0.5s infinite alternate none running pulse;
  background-color: rgb(255 255 255 / 20%);
  content: '';
  inset: 0;
  position: absolute;
}

.asset-image span img {
  vertical-align: middle;
  max-width: 100%;
  height: 100%;
  position: relative;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button-share {
  background: transparent;
  border: none;
  cursor: pointer;
  fill: #fff;
  height: auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.guidance {
  display: flex;
}

.guidance ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.guidance li {
  margin-left: 0.5em;
}

.guidance img {
  background-color: #fff;
  border-radius: 50%;
}

.loading::after {
  animation: 1.5s linear 0.5s infinite normal none running swipe;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(255 255 255 / 8%),
    transparent
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

@keyframes swipe {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
